<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="start" fxLayoutGap="10px" fxLayoutGap.xs="10px">
  <mat-card fxFlex="60%" fxFlex.xs="100%">
    <div class="wrapper" mat-elevation-z8 fxLayout="column">
      <h2 mat-h3 color="primary">Listado de Puestos</h2>
      <form fxLayout="row">
        <mat-form-field appearance="legacy">
          <input matInput (keyup)="applyFilter($event)" #input>
          <mat-placeholder>Filtro...</mat-placeholder>
        </mat-form-field>
      </form>
      <mat-table [dataSource]="listPuestos" matSort matSortDisableClear>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
          <mat-cell *matCellDef="let puesto" data-label="ID: ">
            {{puesto.id}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
          <mat-cell *matCellDef="let puesto" data-label="Nombre: ">
            {{puesto.nombre}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="accion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Acción</mat-header-cell>
          <mat-cell *matCellDef="let puesto" data-label="Acción: ">
            <button mat-icon-button color="accent" matTooltip="Actualizar puesto" (click)="editPuesto(puesto.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary" matTooltip="Ver puesto" (click)="getPuestobyId(puesto.id)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Eliminar puesto" (click)="deletePuesto(puesto.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnas sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnas;"> </mat-row>
      </mat-table>
    </div>
  </mat-card>
  <mat-card fxFlex="40%" fxFlex.xs="100%" style="height: calc(100vh - 95px);">
    <div fxLayout="column" fxLayoutAlign="space-between center" class="wrapper" fxLayoutGap="15px">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="example-form">
        <h2 mat-h3 color="primary">Puesto</h2>
        <button mat-raised-button color="accent" matTooltip="Agregar puesto" (click)="addPuesto()">Agregar registro</button>
      </div>
      <form fxLayout="column" [formGroup]="form" class="mat-card example-form form"
        fxLayoutGap="25px" *ngIf="viewForm">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>ID</mat-label>
          <input matInput type="number" placeholder="campo requerido*" formControlName="id" required>
          <mat-error *ngIf="form.controls['id'].invalid && (form.controls['id'].touched || form.controls['id'].dirty)">
            <span [hidden]="!form.controls['id'].errors?.['required']">
              Campo requerido.
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" placeholder="campo requerido*" formControlName="nombre" required>
          <mat-error
            *ngIf="form.controls['nombre'].invalid && (form.controls['nombre'].touched || form.controls['nombre'].dirty)">
            <span [hidden]="!form.controls['nombre'].errors?.['required']">
              Campo requerido.
            </span>
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="example-full-width" (click)="view ? closeView():submit()"
          [disabled]="view ? false : (form.invalid || !form.dirty)">{{view ? 'Close':'Submit'}}</button>
      </form>
    </div>
  </mat-card>
</div>
