.container {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 13px;
  height: 95%;
}

.mat-card {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 73%), 0px 1px 1px 0px rgb(0 0 0 / 74%), 0px 1px 3px 0px rgb(0 0 0 / 75%);
}

.mat-table {
  width: 100%;
  height: calc(100vh - 236px);
  overflow: auto;
}

.mat-cell.mat-column-star {
  padding-right: 0px !important;
}

.mat-row {
  &:hover {
    background-color: #e9f3ff;
  }

  a {
    color: #3e75ff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.mat-cell:first-of-type,
mat-header-cell:first-of-type,
mat-footer-cell:first-of-type {
  padding-left: 4px;
}

.mat-cell {
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  justify-content: center;
}

.mat-header-cell {
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  justify-content: center;
}
.mat-column-id{
  flex: 0 0 10% !important;
  min-width: 10%!important;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.wrapper {
  margin-top: 6px;
}

.mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: rgb(0 0 0 / 66%);
}
