<div class="container">
  <mat-tab-group mat-align-tabs="center" [backgroundColor]="'primary'" [color]="'accent'">
    <mat-tab label="Personas">
      <app-personas></app-personas>
    </mat-tab>
    <mat-tab label="Puestos">
      <app-puestos></app-puestos>
    </mat-tab>
    <mat-tab label="Empleados puestos">
      <app-empleados-puestos></app-empleados-puestos>
    </mat-tab>
  </mat-tab-group>
</div>
