<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="start" fxLayoutGap="10px" fxLayoutGap.xs="10px">
  <mat-card fxFlex="60%" fxFlex.xs="100%">
    <div class="wrapper" mat-elevation-z8 fxLayout="column">
      <h2 mat-h3 color="primary">Listado de Puestos</h2>
      <form fxLayout="row">
        <mat-form-field appearance="legacy">
          <input matInput (keyup)="applyFilter($event)" #input>
          <mat-placeholder>Filtro...</mat-placeholder>
        </mat-form-field>
      </form>
      <mat-table [dataSource]="listEmpleadosPuestos" matSort matSortDisableClear>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
          <mat-cell *matCellDef="let empleadoPuesto" data-label="ID: ">
            {{empleadoPuesto.id}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="puesto">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Puesto</mat-header-cell>
          <mat-cell *matCellDef="let empleadoPuesto" data-label="Puesto: ">
            {{empleadoPuesto.puesto | json }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="persona">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Persona</mat-header-cell>
          <mat-cell *matCellDef="let empleadoPuesto" data-label="Persona: ">
            {{empleadoPuesto.persona | json}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="accion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Acción</mat-header-cell>
          <mat-cell *matCellDef="let empleadoPuesto" data-label="Acción: ">
            <button mat-icon-button color="accent" matTooltip="Actualizar empleado puesto" (click)="editEmpleadoPuesto(empleadoPuesto.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary" matTooltip="Ver empleado puesto" (click)="getEmpleadoPuestobyId(empleadoPuesto.id)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Eliminar empleado puesto" (click)="deleteEmpleadoPuesto(empleadoPuesto.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnas sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnas;"> </mat-row>
      </mat-table>
    </div>
  </mat-card>
  <mat-card fxFlex="40%" fxFlex.xs="100%" style="height: calc(100vh - 95px);">
    <div fxLayout="column" fxLayoutAlign="space-between center" class="wrapper" fxLayoutGap="15px">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="example-form">
        <h2 mat-h3 color="primary">Empleado Puesto</h2>
        <button mat-raised-button color="accent" matTooltip="Agregar empleado puesto" (click)="addEmpleadoPuesto()">Agregar registro</button>
      </div>
      <form fxLayout="column" [formGroup]="form" class="mat-card example-form form"
        fxLayoutGap="25px" *ngIf="viewForm">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>ID</mat-label>
          <input matInput readonly type="number" placeholder="campo requerido*" formControlName="id" required>
          <mat-error *ngIf="form.controls['id'].invalid && (form.controls['id'].touched || form.controls['id'].dirty)">
            <span [hidden]="!form.controls['id'].errors?.['required']">
              Campo requerido.
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Puesto</mat-label>
          <mat-select formControlName="puesto">
            <mat-option *ngFor="let p of listPuestos" [value]="p">
              {{p.nombre}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="form.controls['puesto'].invalid && (form.controls['puesto'].touched || form.controls['puesto'].dirty)">
            <span [hidden]="!form.controls['puesto'].errors?.['required']">
              Campo requerido.
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Persona</mat-label>
          <mat-select formControlName="persona">
            <mat-option *ngFor="let pers of listPersonas" [value]="pers">
              {{pers.nombre}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="form.controls['persona'].invalid && (form.controls['persona'].touched || form.controls['persona'].dirty)">
            <span [hidden]="!form.controls['persona'].errors?.['required']">
              Campo requerido.
            </span>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="example-full-width" (click)="view ? closeView():submit()"
          [disabled]="view ? false : (form.invalid || !form.dirty)">{{view ? 'Close':'Submit'}}</button>
      </form>
    </div>
  </mat-card>
</div>
